<div
  {% if section.settings.css_id != blank %}
    id="{{ section.settings.css_id }}"
  {% endif %}
  {% if section.settings.css_classes != blank %}
    class="cu-clickable-image-section {{ section.settings.css_classes }}"
  {% endif %}
>
  <div clas="page_width">
    <div class="cu-clickable-image-container">
      {% for block in section.blocks %}
        <div class="cu-clickable-image-card" {{ block.shopify_attributes }}>
          {% if block.settings.image != blank %}
            <a
              {% if block.settings.image_url == blank %}
                class="cu-image-without-link"
                role="link" aria-disabled="true"
              {% else %}
                class="cu-clickable-link"
                href="{{ block.settings.image_url }}"
              {% endif %}
            >
              {{ block.settings.image | image_url: width: 100 | image_tag }}
            </a>
            <a
              class="cu-clickable-link cu-clickable-link-2"
              href="{{ block.settings.image_url }}"
            >
              {% if block.settings.image_link_label != blank %}
                {{- block.settings.image_link_label | escape -}}
              {% endif %}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "clickable image btn cu",
  "class": "section",
  "settings": [
    {
      "type":"text",
      "id":"css_id",
      "label":"css id"
    },
    {
      "type":"text",
      "id":"css_classes",
      "label": "CSS Classes (separate classes with space)"
    }
  ],
  "max_blocks":4,
  "blocks": [
    {
      "name":"image card",
      "type":"card",
      "limit":4,
      "settings":[
        {
          "type":"image_picker",
          "id":"image",
          "label":"Image"
        },
        {
          "type":"text",
          "id":"image_link_label",
          "label":"Link label"
        },
        {
          "type":"url",
          "id":"image_url",
          "label":"Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "clickable image btn cu"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
